<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Интернет-магазин</title>
</head>
<body>
    <header>
        <!-- Шапка интернет-магазина -->
        <h1>Название вашего магазина</h1>
        <nav>
            <a href="{{ url_for('clothing_category') }}">Одежда</a>
            <a href="{{ url_for('shoes_category') }}">Обувь</a>
            <!-- Другие категории -->
        </nav>
    </header>

    <!-- Основной контент страницы -->
    {% block content %}
    {% endblock %}

    <footer>
        <!-- Подвал интернет-магазина -->
        <p>&copy; 2023 Все права защищены</p>
    </footer>
</body>
</html>